{% extends "header.html" %}


{% block body %}
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript>
		$(function() {
		  $('a#procInpt').bind('click', function() {
			$.getJSON('/_bkgProcSmrtSrch', {
			  smrtsrch: $('input[name="smrtsrch"]').val(),
			}, function(data) {
			  $("#dply").text(data.result);
			});
			return false;
		  });
		});
	</script>
</head>
<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#subsrch" aria-controls="subsrch" role="tab" data-toggle="tab">Substructure Search</a></li>
    <li role="presentation"><a href="#dbase" aria-controls="dbase" role="tab" data-toggle="tab">View Database</a></li>
    <li role="presentation"><a href="#cspider" aria-controls="cspider" role="tab" data-toggle="tab">Scrape ChemSpider</a></li>
  </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="subsrch">
	<ul>
	   {% for t in TOPIC_DICT["Substructure Search"] %}
	    <p>{{t[0]}}</p>
	   {% endfor %}
	</ul>
	<ul>
	    <h2>SMARTS database search</h2>
        <form>
        <input type="text" size =10 name=smrtsrch>
        <a href="#" id=procInpt><button class="btn btn-default">Submit</button></a>
        </form>
        <p id=dply>...</p>
	</ul>

  </div>

  <div role="tabpanel" class="tab-pane fade" id="dbase">
    <ul>
        {% for t in TOPIC_DICT["View Database"] %}
	    <p>{{t[0]}}</p>
	    {% endfor %}
    </ul>

  </div>

  <div role="tabpanel" class="tab-pane fade" id="cspider">
     <ul>
      {% for t in TOPIC_DICT["Scrape ChemSpider"] %}
	  <p>{{t[0]}}</p>
	  {% endfor %}
	 </ul>
  </div>

</div>

{% endblock %}